body{
    background-color: #9C9EFE;
    text-align: center;

}

h1{
    font-family: 'Rubik Marker Hatch', cursive;
    padding-top: 10rem;
}

p{
    font-family: 'Montserrat', sans-serif;
    color: antiquewhite;
}
